DB_USER=livemenu
DB_PASSWORD=livemenu
DB_NAME=livemenu
DB_HOST=livemenuDB
DB_PORT=5432
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
STORAGE_PROVIDER=local
UPLOAD_DIR=uploads
IMAGE_MAX_SIZE_MB=5
IMAGE_WORKERS=2
PUBLIC_BASE_URL=http://localhost:8000
GCS_BUCKET_NAME=
GCS_PROJECT_ID=
GCS_CREDENTIALS_FILE=
GCS_PUBLIC_BASE_URL=https://storage.googleapis.com